{#
 # This is the default 404 Not Found response
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': '404 Page Not Found',
    'description': '[This is the 404 Page Not Found page]'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper">
  <h1>{{ d_page.description }}</h1>
  <div class="container under-design">
    <h3>[Under design]</h3>
  </div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
