{#
 # This is the default 405 Not Allowed response
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': '405 Not Found',
    'description': 'This is the 405 Page Not Found page!'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
  <h1>{{ d_page.description }}</h1>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
