{#
 # This is the default Programs page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'Programmes',
    'description': 'We love what we do'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper">
  <img class="img-responsive cover" src="/assets/images/programmes/cover.jpg"/>
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img class="img-responsive" src="/assets/images/programmes/capacity-building.jpg" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Capacity Building Programmes</h3>
      <div class="minor-line"></div>
      <p>We help the youth to recognize their value and wealth as vital actors of our nation’s future. We educate them to realize their talents and exploit various opportunities in their communities to grow and mature their passions.</p>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Support Staff Teaching Programme</h3>
      <div class="minor-line"></div>
      <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img class="img-responsive" src="/assets/images/programmes/support-staff-teaching.jpg" />
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img class="img-responsive" src="/assets/images/programmes/hiv-aids-intervention.jpg" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>HIV/AIDS Intervention</h3>
      <div class="minor-line"></div>
      <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Community Service</h3>
      <div class="minor-line"></div>
      <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img class="img-responsive" src="/assets/images/programmes/community-service.jpg" />
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img class="img-responsive" src="/assets/images/programmes/umoja-project.jpg" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Umoja Mentally Challenged Children Support Project</h3>
      <div class="minor-line"></div>
      <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Supporting Loyola High School</h3>
      <div class="minor-line"></div>
      <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img class="img-responsive" src="/assets/images/programmes/supporting-loyola.jpg" />
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img class="img-responsive" src="/assets/images/programmes/pta-meeting.jpg" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Parents-Teachers Association Meetings</h3>
      <div class="minor-line"></div>
      <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    </div>
  </div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
