// Border shadows
@mixin box-shadow ($x, $y, $blur, $spread, $color) {
  -moz-box-shadow: $x $y $blur $spread $color;
  -webkit-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

// Underlines a link and changes its color on hover
@mixin decorate-link-hover ($font-color, $border-color, $is-underlined: 'true') {
  &:hover {
    @include transition(color, 100ms, ease-in);
    color: $font-color;

    @if $is-underlined == 'true' {
      @include transition(border-bottom, 100ms, ease-in);
      border-bottom: 2px solid $border-color;
    }
  }
}

// Title lines
@mixin title-line ($height, $width, $color) {
  background-color: $color;
  height: $height;
  margin: 20px 0;
  width: $width;
}

// Transitions
@mixin transition ($property, $speed, $effect) {
  -moz-transition: $property $speed $effect;
  -o-transition: $property $speed $effect;
  -webkit-transition: $property $speed $effect;
  transition: $property $speed $effect;
}
