// Clears all spaces
%no-spacing {
  margin: 0;
  padding: 0;
}

// Displays a list horizontally
%inline-list {
  @extend %no-spacing;

  li {
    display: inline-block;
    margin-right: 10px;
  }
}
