//
// Colors
//

$color-maroon: #a94442;
$color-grey: #605c5c;
$color-grey-1: #b3afaf;
$color-grey-2: #ccc;

//
// Default Global Properties
//

// Body
$body-bg-color: #e9eaed;
$body-text-color: #000;
$body-font-family: 'Open Sans', sans-serif;
$body-font-size: 100%;
$body-line-height: 150%;
$body-border-color: #ccc;

// Links
$link-color: #000;
$link-weight: 600;

//
// Containers
//

// Generic container
$container-bg-color: #fff;
$container-border-radius: 1px;
$container-shadow: 0 2px 0 rgba(0, 0, 0, .2);

// Top navigation menu
$topnav-bg-color: #fff;
$topnav-text-color: #000;
$topnav-font-size: 120%;

// Main navigation menu
$mainnav-bg-color: $color-maroon;
$mainnav-text-color: #c4bdbd;

// Footer
$footer-bg-color: #6a6464;
$footer-text-color: #efefef;
$footer-links-color: #e7cdcd;

// Screen sizes (adapted from Twitter Bootstrap)
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
