{#
 # This is the default Search page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'Search',
    'description': 'This is the Search page!'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container">
  <h1>{{ d_page.description }}</h1>

  {% if is_query == true %}
  <h3>Searching for "{{ query }}"</h3>
  {% else %}
  <h3>New search</h3>
  {% endif %}
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
