//
// Defines global default styles
//
body {
  background: url('/assets/images/background.png') repeat;
  color: $body-text-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
  margin: 0;
}

a {
  color: $link-color;
  font-weight: $link-weight;
}
