.center { text-align: center; }
.cont-center { margin: 0 auto; }

.clear { @extend %no-spacing; }

.clear-xs {
  @media screen and (max-width: $screen-xs) {
    margin: 0;
    padding: 0;
  }
}

.clear-sm {
  @media screen and (max-width: $screen-sm) {
    margin: 0;
    padding: 0;
  }
}

.clear-md {
  @media screen and (max-width: $screen-md) {
    margin: 0;
    padding: 0;
  }
}

.page-wrapper {
  background-color: #fff;

  @media screen and (max-width: $screen-xs) {
    margin: 0;
    padding: 0;
  }

  div {
    margin: 15px 0;
    padding: 0;
  }

  ul {
    margin: 10px;
    padding: 10px;
  }

  .beautify {
    height: 250px;
    width: 100%;
  }

  .cover {
    margin: 0 auto;
  }

  .description {
    margin: 0;
    padding: 0 20px;

    i { margin-right: 20px; }
    p > span { margin: 0 5px; }
  }

  .leaders {
    padding: 0 20px;
  }

  .related-links {
    @extend %inline-list;

    margin: 0 auto;

    a {
      @include decorate-link-hover ($color-maroon, $color-maroon);
      padding: 15px;
      padding-bottom: 5px;
      text-decoration: none;
    }
  }
}

.user-wrapper {
  background-color: #fff;
  min-height: 500px;
  padding-bottom: 50px;
}
