// Website top logo image
.logo-img { max-height: 130px; }

.page-wrapper {
  .description {
    h3 {
      font-weight: bold;

      a {
        text-decoration: none;
        &:hover { color: $color-maroon; }
      }
    }

    p {
      font-size: 140%;
      line-height: 200%;

      a { color: $color-maroon; }
    }

    ul {
      font-size: 140%;
      line-height: 200%;
    }
  }

  .major-line { @include title-line (5px, 20%, $color-grey); }
  .minor-line { @include title-line (4px, 20%, $color-maroon); }

  .minor-line-2 {
    @media screen and (min-width: $screen-xs) { @include title-line (4px, 20%, $color-maroon); }
    @media screen and (min-width: $screen-sm) { @include title-line (4px, 10%, $color-maroon); }
  }

  .title {
    color: $color-maroon;
    font-weight: bold;
    padding-left: 5px;

    @media screen and (min-width: $screen-xs) { margin-top: 20px; }
    @media screen and (min-width: $screen-sm) { margin-top: 40px; }
    @media screen and (max-width: $screen-sm) { font-size: 2.5em; }
  }
}

.related-links {
  @media screen and (max-width: $screen-xs) { >li { margin-top: 10px; } }
}

.user-warning {
  font-size: 110%;
  padding: 30px 0;

  a {
    color: #045fb4;
  }
}
