//
// This overrides vendor styles
//

//
// Cycle2 Starts
//
// overlay
.cycle-overlay {
  font-size: 140%;
  font-style: italic;
  font-weight: bold;
  padding-top: 25px;
  width: 100%;
}

// pager
.cycle-pager {
  margin: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 95%;
  z-index: 500;

  span {
    color: #ddd;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 50px;
    height: 16px;
    width: 16px;
  }

  .cycle-pager-active { color: $color-maroon; }
}

.cycle-pager > * { cursor: pointer; }
// Cycle2 Ends

//
// Bootstrap Fixes Start
//
// navigation bar
// navbar
.navbar {
  .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar-collapse { text-align: center; }
}

.navbar-inverse {
  background-color: inherit;
  border: 0;

  // title
  .navbar-brand {
    color: #fff !important;

    &:focus { color: $mainnav-text-color !important; }
    &:hover { color: $mainnav-text-color !important; }
  }

  // links
  .navbar-nav > li > a {
    color: $mainnav-text-color !important;

    @media screen and (min-width: $screen-sm ) {
      padding-left: 25px !important;
      padding-right: 35px !important;
    }
    @media screen and (max-width: $screen-sm ) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    &:focus { color: #fff !important; }
    &:hover { color: #fff !important; }
  }
}

// nav tabs
.nav-tabs > li > a {
  background-color: $mainnav-bg-color !important;
  color: $color-maroon !important;

  &:hover { color: $color-maroon !important;}
}
// Bootstrap Ends
