//
// General layout attributes
//
.cont {
  background-color: $container-bg-color;
  border-radius: $container-border-radius;
  box-shadow: $container-shadow;
}

.sep { border-right: 2px solid $body-border-color; }

//
// Website top navigation section
//
.topnav-wrapper {
  background-color: $topnav-bg-color;
  border: 1px solid $body-border-color;
  color: $topnav-text-color;
  font-size: $topnav-font-size;
  padding: 10px 0;
}

.topnav {
  div { margin: 10px 0; }

  .inline {
    @extend %no-spacing;

    a {
      @include decorate-link-hover ($color-maroon, $color-maroon);
      padding: 15px;
      padding-bottom: 5px;
    }

    @media screen and (max-width: $screen-xs) { li { margin: 10px 0;} }
  }

  .input-group { @extend %no-spacing; }

  .search-wrapper {
    @extend %no-spacing;
    @media screen and (min-width: $screen-xs) { padding: 20px; }
    @media screen and (min-width: $screen-sm) { padding: 0; }
  }
}

//
// Website logo section
//
.logo-wrapper {
  //background-color: $container-bg-color;
  //background: url('/assets/images/top-background.png') repeat;
  padding: 20px 0;
}

.logo {
  @extend %no-spacing;

  a {
    font-weight: 600;
    text-decoration: none;

    small {
      color: $color-grey;
      font-size: 0%;
      @media screen and (max-width: $screen-xs) {
        font-size: 40%;
      }
      @media screen and (min-width: $screen-xs) {
        font-size: 50%;
        margin-left: 20%;
      }
    }
  }

  .inline {
    @extend %no-spacing;

    a {
      @include decorate-link-hover ($color-maroon, $color-maroon, 'false');
      padding: 15px;
      padding-bottom: 5px;
    }
  }
}

//
// Website main navigation menu section
//
.mainnav-wrapper {
  @extend %no-spacing;

  * { background-color: $mainnav-bg-color; }


  ul {
    a {
      color: $color-grey;
      font-family: $body-font-family;
      font-size: 180%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}

//
// Events Calendar
//
.calendar {
  margin: 20px 0;

  @media screen and (min-width: $screen-xs) { padding: 5px 20px; }
  @media screen and (max-width: $screen-xs) { padding: 5px 10px; }

  .heading {
    color: $color-maroon;
    font-weight: bold;
    margin-left: .5em;
  }

  table {
    width: 100%;

    td { padding: 7px 0; }

    p {
      font-size: 200%;
      margin-top: 5px;
    }

    .desc {
      padding-left: 15px;
      vertical-align: middle;
    }

    .date { text-align: center; }
  }
}

//
// Website footer section
//
.footer-wrapper {
  background-color: $footer-bg-color;
  color: $footer-text-color;
}

.footer {
  > div { padding: 20px 0; }

  a {
    @extend %no-spacing;
    @include decorate-link-hover (#fff, $footer-bg-color, 'false');
    color: $footer-links-color;
  }

  img { max-height: 125px; }

  .inline {
    @extend %no-spacing;

    a { padding: 10px; }

    span {
      padding: 15px;
      padding-bottom: 5px;
    }
  }

  .shortcuts {
    h5 { margin-top: 20px; }
    ul { padding-left: 10px; }
    li { line-height: 200%; }
  }

  .social {
    table {
      margin: 20px 0;
      width: 100%;
    }
  }
}
