//
// Home page slider section
//
.loader-wrapper {
  img {
    margin: 40px auto;
    max-height: 40px;
  }
}

.slider-wrapper {
  padding: 20px 0;

  .description {
    text-align: center;

    span {
      color: $color-maroon;
    }
  }
}

.slider-thumb {
  background-color: $color-grey-1;
  border: 3px solid #fff;
  color: #fff;
  height: 200%;
  padding: 10px;
  width: 100%;
}

//
// Home page contents section
//
.sum-wrapper {
  background-color: $container-bg-color;
  //border: 1px solid $color-grey-2;
  margin: 20px 0;

  @media screen and (min-width: $screen-xs) { padding: 5px 20px; }
  @media screen and (max-width: $screen-xs) { padding: 5px 10px; }

  .heading {
    color: $color-maroon;
    font-weight: bold;
  }

  .summary {
    border: 0;

    a { color: $color-maroon; }

    p {
      font-size: 120%;
      margin-top: 10px;
      text-align: justify;
    }
  }

  .cause {
    div {
      @extend %no-spacing;
      margin-bottom: 20px;
    }

    p { margin-left: 20px; }
  }

  table {
    width: 100%;

    td { padding: 7px 0; }

    p {
      font-size: 200%;
      margin-top: 5px;
    }

    .desc {
      padding-left: 15px;
      vertical-align: middle;
    }

    .date { text-align: center; }

    .login { width: 80%; }
  }

  .link {
    float: right;
    font-size: 80%;
    padding-top: 3px;
  }
}
