{#
 # The default footer for the website
 #}
<footer id="footer" class="footer-wrapper">
  <div class="container">
    <div class="footer row">
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 shortcuts'>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
          <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <h5>LAA</h5>
            <ul class="list-unstyled">
              <li><a href="/about/laa">About Us</a></li>
              <li><a href="/about/contact-us">Contact Us</a></li>
              {# TODO <li><a href="/archives/reports">Official Reports</a></li> #}
            </ul>
            <h5>Explore</h5>
            <ul class="list-unstyled">
              <li><a href="/events/calendar">Upcoming events</a></li>
              <li><a href="/events">Our activities</a></li>
              <li><a href="/archives">Our publications</a></li>
            </ul>
          </div>
          <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <h5>Join Our Cause</h5>
            <ul class="list-unstyled">
              <li><a href="/programmes">Explore our programmes</a></li>
              <li><a href="/get-involved">Connect with us</a></li>
              {# TODO <li><a href="/get-involved/volunteer">Volunteer</a></li>#}
              <li><a href="/about/support-us">Support our cause</a></li>
              <li><a href="/user/register">Join us</a></li>
            </ul>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 social">
            <h5>Stay Connected</h5>
            <table class="center">
              <tr>
                <td><a href="#" target="_blank" data-toggle="tooltip" title="Like our Facebook page"><i class="fa fa-facebook fa-3x"></i></a></td>
                <td><a href="#" target="_blank"><i class="fa fa-instagram fa-3x" data-toggle="tooltip" title="Follow us on Instagram"></i></a></td>
                <td><a href="#" target="_blank"><i class="fa fa-youtube fa-3x" data-toggle="tooltip" title="Subscribe to our YouTube channel"></i></a></td>
              </tr>
            </table>
          </div>
        </div>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
          <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <h5>Loyola Alumni</h5>
            <ul class="list-unstyled">
              <li><a href="/about/laa">Understand LAA</a></li>
              <li><a href="/get-involved/alumni">Join our cause</a></li>
              <li><a href="/events/calendar">Check our calendar</a></li>
              <li><a href="/user/login">Login</a></li>
              <li><a href="/user/register">Register</a></li>
            </ul>
            <h5>Loyola Student</h5>
            <ul class="list-unstyled">
              <li><a href="/get-involved/students">Connect with us</a></li>
            </ul>
          </div>
          <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <img class="img-responsive" src="/assets/images/lhs-logo.png">
            <h5>Loyola High School</h5>
            <ul class="list-unstyled">
              <li><a href="http://www.loyola.ac.tz" target="_blank">Official Website</a></li>
              <li><a href="http://www.loyola.ac.tz/pages/community/alumni" target="_blank">Alumni Section</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 center'>
        <ul class="inline">
          <li>Copyright  &copy; <a href="/">2016 Loyola Alumni Association.</a><span>All Rights Reserved</span></li>
          {# TODO Add statements
          <li class="sep"><a href="/about/privacy-statement">Privacy Statement</a></li>
          <li class="sep"><a href="/about/terms-of-use">Terms of Use</a></li>
          <li class="sep"><a href="/about/laa">About Us</a></li>
          <li><a href="/about/contact-us">Contact Us</a></li>
          #}
        </ul>
      </div>
    </div>
  </div>
</footer>
{#  Load JavaScript scripts after the page completely loads #}
<script>
  function download() {
    var element = document.createElement("script");
    element.src = "/assets/js/main.js";
    document.body.appendChild(element);
  }

  if (window.addEventListener)
    window.addEventListener("load", download, false);
  else if (window.attachEvent)
    window.attachEvent("onload", download);
  else window.onload = download;
</script>
{# Google Analytics #}
<script>
    ( function(b, o, i, l, e, r) {
     		b.GoogleAnalyticsObject = l;
            b[l] || (b[l] = function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXXXXX-X');
    ga('send', 'pageview');
</script>
