{#
 # The default header for the website
 #}
{# Top navigation bar section #}
<div class="topnav-wrapper">
  <div class="container">
    <div class="topnav row center">
      {# TODO Implement search
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 search-wrapper'>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">Search</button>
          </span>
        </div>
      </div>
      <div class='col-lg-8 col-md-8 col-sm-8 col-xs-12 center'>
      #}
        <ul class="inline">
          <li><a href="/events/calendar">Calendar</a></li>
          <li><a href="/get-involved/students">Students</a></li>
          <li><a href="/get-involved/alumni">Alumni</a></li>
          <li><a href="/about/contact-us">Contact Us</a></li>
          <li><a href="/user/login">Login</a></li>
        </ul>
      {# TODO </div>#}
    </div>
  </div>
</div>
{# Logo section #}
<div class="logo-wrapper">
  <div class="container">
    <div class="row logo">
      <div class='col-lg-2 col-lg-offset-2 col-md-3 col-sm-3 hidden-xs'>
        <a href="/"><img alt="Logo" class="logo-img img-responsive" src="/assets/images/logo.png" /></a>
      </div>
      <div class='col-lg-8 col-md-9 col-sm-9 col-xs-12'>
        <a href="/">
          <h1 class="text-danger"><b>Loyola Alumni Association<span class="badge">&beta;</span></b><br><small class="">In All Things to Love and to Serve</small></h1>
        </a>
      </div>
    </div>
  </div>
</div>
{# Main navigation section #}
<div id="nav" class="mainnav-wrapper">
  <header id="navbar" class="navbar navbar-inverse clear" role="banner">
    <div class="mainnav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo-txt hidden-sm hidden-md hidden-lg" href="/">LAA</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation" id="main-menu">
         <ul class="nav navbar-nav">
           <li><a href="/about">About LAA</a></li>
           <li><a href="/programmes">Programmes</a></li>
           <li><a href="/get-involved">Get Involved</a></li>
           <li><a href="/events">Events</a></li>
           <li><a href="/archives">Archives</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
