{#
 # Summary of upcoming events
 #}
{# TODO: Load upcoming events from the database #}
{% set events = {
 0: {day: "28", mon:"SEP", desc: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo"},
 1: {day: "12", mon:"OCT", desc: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo"},
 2: {day: "07", mon:"DEC", desc: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo"}
 }
%}
<table>
{% for event in events %}
 <tr>
   <td class="date">{{ event.mon }}<br/><p>{{ event.day }}</p></td>
   <td class="desc">{{ event.desc }}</td>
 </tr>
{% endfor %}
</table>
