{#
 # This is the default home page a.k.a landing page for the website
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'Welcome',
    'description': 'This is the Home page!'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
{# Home page slider #}
<div id="loader" class="container loader-wrapper">
  <img class="img-responsive" src="/assets/images/loading.gif">
</div>
<div id="slider" class="container slider-wrapper hidden-xs hidden-sm hidden-md hidden-lg">
  <div id="pauser" class="cycle-slideshow col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12"
      data-cycle-fx="fade"
      data-cycle-loader="wait"
      data-cycle-timeout="4000"
      data-cycle-slides="> img"
      data-cycle-pause-on-hover="#pauser">
      <div class="cycle-pager"></div>
      <img alt="Slide 1" class="img-responsive" src="/assets/images/home/slide-1.jpg" data-cycle-desc="<span>INSPIRING !!</span> Start where you are. Use what you have. Do what you can. #ArthurAshe"/>
      <img alt="Slide 2" class="img-responsive" src="/assets/images/home/slide-2.jpg" data-cycle-desc="<span>LISTENING !!</span> I often make the mistake of thinking that something that is obvious to me is obvious to everyone else. #ChimamandaAdichie"/>
      <img alt="Slide 3" class="img-responsive" src="/assets/images/home/slide-3.jpg" data-cycle-desc="<span>CONNECTING !!</span> I am not African because I was born in Africa but because Africa was born in me. #KwameNkrumah"/>
      <img alt="Slide 4" class="img-responsive" src="/assets/images/home/slide-4.jpg" data-cycle-desc="<span>VOLUNTEERING !!</span> Those who receive this privilege have a duty to repay the sacrifice which others have made. #JuliusNyerere"/>
      <img alt="Slide 5" class="img-responsive" src="/assets/images/home/slide-5.jpg" data-cycle-desc="<span>INVESTING !!</span> Education is the most powerful weapon which you can use to change the world. #NelsonMandela"/>
      <div class="cycle-overlay description"></div>
  </div>
</div>
<div class="container clear-xs">
  {# Home page summaries #}
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 clear-md">
    <div class="sum-wrapper sum-left">
      <h4 class="heading">Our Cause <span class="link"><a href="/about">More Information &raquo;</a></span></h4>
      <hr>
      {% set causes = {
        0: {img: "/assets/images/home/join-cause-mission.jpg", link: "/about/laa", summary: "Our mission is to integrate personal development as individuals and members of larger society ... "},
        1: {img: "/assets/images/home/join-cause-vision.jpg", link: "/about/laa", summary: "Our vision is to make the society realize the value of youths and uphold the school motto, \"Men and Women for Others\" ... "},
        2: {img: "/assets/images/home/join-cause-programmes.jpg", link: "/programmes", summary: "We aim at helping the school and the society at large using experiences acquired at Loyola  ... "},
        3: {img: "/assets/images/home/join-cause-support.jpg", link: "/about/support-us", summary: "LAA is a non for profit organization and many of its operations depend on inputs from members and people of goodwill ... "}
        }
      %}
      <div class="row">
        {% for cause in causes %}
        <div class="col-sm-6 col-md-6 container">
          <div class="thumbnail summary cause">
            <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
              <a href="{{ cause.link }}"><img class="img-responsive" src="{{ cause.img }}" alt="Cause Photo"></a>
            </div>
            <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8">
              <p>{{ cause.summary }}<span><a href="{{ cause.link }}">more &raquo;</a></span></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="sum-wrapper sum-left">
      <h4 class="heading">Alumni News <span class="link"><a href="/events/news">More News &raquo;</a></span></h4>
      <hr>
      {# TODO: Load latest six alumni news from the database #}
      {% set news_items = {
        0: {img: "/assets/images/home/news-loyola-day-2016.jpg", link: "/events", summary: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ... "},
        1: {img: "/assets/images/home/news.jpg", link: "/events", summary: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ... "},
        2: {img: "/assets/images/home/news.jpg", link: "/events", summary: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ... "},
        }
      %}
      <div class="row">
        {% for news_item in news_items %}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail summary">
            <a href="{{ news_item.link }}"><img src="{{ news_item.img }}" alt="News Photo"></a>
            <p>{{ news_item.summary }}<span><a href="{{ news_item.link }}">more &raquo;</a></span></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 clear">
    {# Upcoming events #}
    <div class="sum-wrapper sum-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h4 class="heading">Upcoming Events<span class="link"><a href="/events/calendar">More &raquo;</a></span></h4>
      <hr>
      {% include 'partials/upcoming-events.html.twig' %}
    </div>
    {# LAA Members #}
    <div class="sum-wrapper sum-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h4 class="heading">LAA Members</h4>
      <hr>
      <table class="center">
        <tr><td><a class="btn btn-danger login" href="/user/login">Login</a></td></tr>
        <tr><td>Not a member? <a href="/user/register">Join Us</a></td></tr>
        <tr><td></td></tr>
      </table>
    </div>
    <div class="sum-wrapper sum-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <table class="center">
        <tr>
          <td><a href="#" target="_blank" data-toggle="tooltip" title="Like our Facebook page"><i class="fa fa-facebook fa-4x"></i></a></td>
          <td><a href="#" target="_blank"><i class="fa fa-instagram fa-4x" data-toggle="tooltip" title="Follow us on Instagram"></i></a></td>
          <td><a href="#" target="_blank"><i class="fa fa-youtube fa-4x" data-toggle="tooltip" title="Subscribe to our YouTube channel"></i></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
