{#
 # This is the Events Calendar page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'Events Calendar',
    'description': 'Mark Your Calendar'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper">
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
  <div class="container under-design">
    <div class="calendar col-lg-6 col-md-7 col-sm-12 col-xs-12">
      <h3 class="heading">Coming up in 2016</h3>
      {% set events = {
       0: {day: "28", mon:"SEP", desc: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo"},
       1: {day: "12", mon:"OCT", desc: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo"},
       2: {day: "07", mon:"DEC", desc: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo"}
       }
      %}
      <table>
      {% for event in events %}
       <tr>
         <td class="date">{{ event.mon }}<br/><p>{{ event.day }}</p></td>
         <td class="desc">{{ event.desc }}</td>
       </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
