{#
 # This is the default User Registration page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'Register',
    'description': 'LAA Members | Register'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper">
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
</div>
<div class="container user-wrapper">
  <h4>Online registration for official LAA membership will be opened soon. Please <a class="" href="/about/contact-us">contact us</a> for more inquiries!</h4>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
