{#
 # This is the default User Login page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'Login',
    'description': 'LAA Members | Login'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper">
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
</div>
<div class="container user-wrapper">
  <div class="col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
    <div class="form-login">
      <h4 class="page-header center txt-red">Please login</h4>
      <div id="login-notify"></div>
      <input type="text" id="username" class="form-control input-md" placeholder="username" tabindex="1" />
      </br>
      <input type="password" id="password" class="form-control input-md" placeholder="password" tabindex="2" />
      </br>
      <div class="wrapper center">
        <span class="group-btn">
          <a id="login" class="btn btn-danger btn-md">login <i class="fa fa-sign-in"></i></a>
        </span>
      </div>
    </div>
    <div class="user-warning center">
      <p><b class="text-danger">Warning</b>: By logging in, you agree to have read and comply with our <a href="/about/terms-of-use">Acceptable Use Policy</a> and <a href="/about/privacy-statement">Privacy Statement</a>. Unauthorized use may result in disciplinary action, civil, and/or criminal penalties.</p>
    </div>
  </div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
