{#
 # This is the default Archives page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'Archives',
    'description': 'We believe in sharing'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper">
  <img class="img-responsive cover" src="/assets/images/archives/cover.jpg"/>
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
  <div class="container under-design">
    <h3>Coming Soon</h3>
  </div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
