{#
 # This is the default About page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'About',
    'description': 'We are proud of who we are'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper clear-xs">
  <img class="img-responsive cover clear" src="/assets/images/about/cover.jpg"/>
  {% include 'partials/related-links-about.html.twig' %}
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="/about/laa"><img class="img-responsive" src="/assets/images/about/cover-laa.jpg" /></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3><a href="/about/laa">About Loyola Alumni Association</a></h3>
      <p>Loyola Alumni Association (LAA) is a non for profit organization registerd in Tanzania under Societies Act CAP. 337 R.E 2002. The association is made up of former students of Loyola High School, Dar es Salaam. At present there are over 200 registered members...<br>
      <a href="/about/laa">Learn More &raquo;</a></p>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3><a href="/about/leadership">Our Leadership</a></h3>
      <p>LAA Leadership is made up of the Chairperson, Vice-Chairperson, Secretary General and Treasurer. The four form the Executive Committee of the Association...<br>
      <a href="/about/leadership">Learn More &raquo;</a></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="/about/leadership"><img class="img-responsive" src="/assets/images/about/cover-leadership.jpg" /></a>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="/about/contact-us"><img class="img-responsive" src="/assets/images/about/cover-contact-us.jpg" /></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3><a href="/about/contact-us">Contact Us</a></h3>
      <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus...<br>
      <a href="/about/contact-us">Learn More &raquo;</a></p>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3><a href="/about/support-us">Supporting Us</a></h3>
      <p>LAA is a non for profit organization and many of its operations depend on inputs from members and people of goodwill...<br>
      <a href="/about/support-us">Learn More &raquo;</a></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="/about/support-us"><img class="img-responsive" src="/assets/images/about/cover-support-us.jpg" /></a>
    </div>
  </div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
