{#
 # This is the Contact Us page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'Contact Us',
    'description': 'Contacting Us'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper clear-xs">
  <img class="img-responsive cover" src="/assets/images/about/cover-contact-us.jpg"/>
  {% include 'partials/related-links-about.html.twig' %}
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 description">
    <p><h4>Loyola Alumni Association (LAA)</h4></p>
		<p><i class="fa fa-map-marker fa-lg"></i> P.O Box 9533, Dar es Salaam, Tanzania</p>
		<p><i class="fa fa-envelope-o fa-lg"></i> info@laa.or.tz</p>
		<p><i class="fa fa-phone fa-lg"></i> +255 (0) 713 535 444 | +255 (0) xxx xxx xxx</p>
		<p><i class="fa fa-comments-o fa-lg"></i>Stay Connected:
			<span><a href="" target="_blank"><i class="fa fa-facebook fa-lg text-primary" data-toggle="tooltip" title="Like our Facebook page"></i></a></span>
	        <span><a class="text-danger" href="" target="_blank"><i class="fa fa-youtube fa-lg" data-toggle="tooltip" title="Subscribe to our YouTube channel"></i></a></span>
	        <span><a href="" target="_blank"><i class="fa fa-instagram fa-lg" data-toggle="tooltip" title="Follow us on Instagram"></i></a></span>
		</p>
  </div>
  <div class="beautify"></div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
