{#
 # This is the About LAA page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'About LAA',
    'description': 'About Loyola Alumni Association (LAA)'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper clear-xs">
  <img class="img-responsive cover" src="/assets/images/about/cover-laa.jpg"/>
  {% include 'partials/related-links-about.html.twig' %}
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img class="img-responsive" src="/assets/images/about/laa-who-we-are.jpg" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Who we are</h3>
      <div class="minor-line"></div>
      <p><b>Loyola Alumni Association (LAA)</b> is a non for profit organization registered in Tanzania under the Societies Act CAP. 337 R.E 2002.The association is made up of former students of Loyola High School, Dar es salaam. At present there are over 210 registered members.</p>
      <p>Inspired by the school motto <b>"Men and Women for Others"</b>, former students of Loyola decided to come up together and continue living the school’s motto and upholding the association’s motto, <b>"In All Things to Love and to serve"</b>.</p>
      <p>The association's headquarters are located in the Administration Block at Loyola High School, Dar es Salaam, Tanzania.</p>
      <p>LAA is a member of World Union of Jesuit Alumni (WUJA) since 2006.</p>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Our Mission</h3>
      <div class="minor-line"></div>
      <p><b>Our mission</b> is to integrate personal development as individuals and members of larger society. Each member is challenged to participate actively, to interact and to contribute in a spirit of service, therefore develop fully with a vibrant desire to work for the development of neighbors and the nation.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Our Vision</h3>
      <div class="minor-line"></div>
      <p><b>Our vision</b> is to make the society realize the value of youths and uphold the school motto, <b>"Men and Women for Others"</b>.</p>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <img class="img-responsive" src="/assets/images/about/laa-objectives.jpg" />
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Our Objectives</h3>
      <div class="minor-line"></div>
      <p>
        <ul>
          <li>To maintain and promote good relations and cooperation among members of the association.</li>
          <li>To promote and protect members’ interests during their tenure of membership in the association.</li>
          <li>To encourage members to think critically on possibilities and initiative to support themselves on socio-economic aspects.</li>
          <li>To stimulate and promote all desirable aspects of cultural development which inculcate the spirit of love for arts and sports to keep association as a fertile ground from which best talents are developed.</li>
          <li>To engage in investment proceeds or contracts as may be deemed fit by members for the purpose of increasing financial capacity of the association through various projects and programs.</li>
          <li>To maintain and promote fraternal relations with other alumni association and any other development organizations in Tanzania, Africa and worldwide for the purpose of learning and establishing different opportunities.</li>
        </ul>
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>LAA Membership</h3>
        <div class="minor-line"></div>
        <p>Membership to the association is open to all former students of  Loyola High School,Dar es salaam.</p>
        <p>Any alumnus/alumna interested wishing to become a member follows a registration procedure.</p>
        <p>All members are required to actively participate in association’s activities and pay their Annual Subscription Fee.</p>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>LAA Branches</h3>
        <div class="minor-line"></div>
        <p>The Association has several units/branches which are located in different higher learning institutions in Tanzania and India where some former students of Loyola are studying.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
