{#
 # This is the About Leadership page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'LAA Leadership',
    'description': 'Our Leadership'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper clear-xs">
  <img class="img-responsive cover" src="/assets/images/about/cover-leadership.jpg"/>
  {% include 'partials/related-links-about.html.twig' %}
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 description">
    <p>LAA Leadership is made up of the Chairperson, Vice-chairperson, Secretary General and the Treasurer. The four form the Executive Committee of the Association.</p>
    <p>There is also a Secretariat which is made up of  members of the Executive Committee and members of association’s operational committees namely Programmes, Ethics and Welfares, Information and Public Relations, Unit Development and Registry and Accounts. </p>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <h3>Our Patron</h3>
      <div class="minor-line"></div>
      <p>LAA must at all times be under a patronage of a Jesuit Priest/Brother.</p>
      <p>The patron plays a role of an adviser and continues to give support to the members as they continue embracing and living the values of St. Ignatius.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
      <img class="img-responsive" src="/assets/images/about/leadership-patron.jpg" />
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 description">
      <h3>Executive Committee</h3>
      <div class="minor-line-2"></div>
      <p>The following are the current members of the Executive Committee:</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 leaders">
      <img class="img-responsive" src="/assets/images/about/leadership-chairperson.jpg" />
      <h4><b>Somebody Somebody</b><br><em>Chairperson</em></h4>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 leaders">
      <img class="img-responsive" src="/assets/images/about/leadership-vice-chairperson.jpg" />
      <h4><b>Somebody Somebody</b><br><em>Vice-Chairperson</em></h4>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 leaders">
      <img class="img-responsive" src="/assets/images/about/leadership-secretary-general.jpg" />
      <h4><b>Somebody Somebody</b><br><em>Secretary General</em></h4>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 leaders">
      <img class="img-responsive" src="/assets/images/about/leadership-treasurer.jpg" />
      <h4><b>Somebody Somebody</b><br><em>Treasurer</em></h4>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 description">
      <h3>Our Partners</h3>
      <div class="minor-line-2"></div>
      <p><b>These are our proud partners:</b></p>
      <p>
        <ul>
          <li>Society of Jesus (Jesuits)  and its instruments (AJAN, HAKIMANI, etc.)</li>
          <li>Dar es salaam secondary Schools</li>
          <li>Government of Tanzania</li>
          <li>Corporate/Companies</li>
          <li>Other Jesuit Alumni Associations</li>
          <li>Other Non-governmental organizations (NGO)</li>
          <li>The community</li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
