{#
 # This is the Support Us page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'Support Us',
    'description': 'Supporting Us'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper clear-xs">
  <img class="img-responsive cover" src="/assets/images/about/cover-support-us.jpg"/>
  {% include 'partials/related-links-about.html.twig' %}
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 description">
    <p>LAA is a non for profit organization and many of its operations depend on inputs from members and people of goodwill.</p>
    <p>We therefore call upon you to support what we do.</p>
    <p>Your support could be in any form you think would positively impact what we do.</p>
    <p><b>We thank you in advance!</b></p>
  </div>
  <div class="beautify"></div>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
