{#
 # This is the Terms of Use page
 #}

{# Declare required page values #}
{%
  set d_page = {
    'title': 'Terms of Use',
    'description': 'Acceptable Use Policy'
  }
%}

{# Build this page off the base page template #}
{% extends 'base.html.twig' %}

{#
 # Define the page header
 #}
{% block header %}
  {% include 'partials/default-header.html.twig' %}
{% endblock %}

{#
 # Define the page body
 #}
{% block body %}
<div class="container page-wrapper clear-xs">
  <h1 class="title">{{ d_page.description }}</h1>
  <div class="major-line"></div>
</div>
<div class="container user-wrapper">
  <h3>Coming Soon</h3>
</div>
{% endblock %}

{# Define the page footer #}
{% block footer %}
  {% include 'partials/default-footer.html.twig' %}
{% endblock %}
