<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>LAA | {{ d_page.title }}</title>
  <meta name="description" content="" >
  <meta name="author" content="" >
  <meta name="keywords" content="loyola alumni association, loyola, tanzania, alumni, loyola high school, academics, youth, volunteer, connect, dar es salaam">
  {#
   # http://moz.com/blog/meta-data-templates-123
   # Social Media Tags begin
   #}
  {# Twitter Card data #}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@LAA">
  <meta name="twitter:title" content="LAA | Home" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:creator" content="@LAA" />
  {# Open Graph data #}
  <meta property="og:title" content="LAA | Home" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="" />
  {#  Social Media Tags end #}
  <link rel="shortcut icon" href="/favicon.ico">
  {#  Vendor styles  #}
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/fonts/OpenSans.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/main.css" rel="stylesheet" type="text/css" >
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {#  Vendor scripts #}
  {#
  <script src="/assets/js/jquery-1.12.2.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/cycle2.js"></script>
  { #  Custom scripts and styles # }
  <script src="/assets/js/main.js"></script>
  #}
  {#  HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
  <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  {% block header %}{% endblock %}
  {% block body   %}{% endblock %}
  {% block footer %}{% endblock %}
</body>
</html>
